<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" {...Astro.props}><title>Next.js</title><path fill="currentColor" d="M18.665 21.978C16.75 23.255 14.208 24 12 24 5.377 24 0 18.623 0 12S5.377 0 12 0s12 5.377 12 12c0 3.583-1.574 6.801-4.067 9.001L9.219 7.2H7.2v9.676h1.92V9.12l9.545 12.858zm-.674-6.172h1.92V7.2h-1.92v8.606z"/></svg>
